/* styles/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    padding: 0;
}
.showcase_img1{
  transform: translateX(400%);
  transition: 1s ease;
}
.showcase_img2{
  transform: translateY(-400%);
  transition: 1s ease;
}
.showcase_img3{
  transform: translateX(-400%);
  transition: 1s ease;
}
.l-container {
  position: relative;
  display: flex;
  width: 250px;
  height: 230px;
}
.l-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.l-card:hover {
  transform: rotateY(180deg);
}
.l-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.l-rear {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.show{
  transform: translateX(0);
}

/* Home.css */

.home-container {
  position: relative;
  width: 100%;
}

.animated-section {
  opacity: 0;
  position: relative;
  transition: opacity 0.5s ease;
}

.animated-section.left {
  animation: slideFromLeft 0.5s ease forwards;
}

.animated-section.right {
  animation: slideFromRight 0.5s ease forwards;
}

@keyframes slideFromLeft {
  from {
      opacity: 0;
      transform: translateX(-50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
.animated-section {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.animated-section.visible {
  opacity: 1;
}
.reviews-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.reviews-heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.carousel {
  margin-top: 20px;
}

.review-item {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.flat-number {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.customer-name {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.review-text {
  font-size: 16px;
  color: #444;
}

.review-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.star-icon {
  color: #ffc107; /* Change color as needed */
  margin-left: 5px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 0.3rem;
  background-color: #4CAF50; /* Change to green */
}
.react-datepicker__day--highlighted,
.react-datepicker__month-text--highlighted,
.react-datepicker__quarter-text--highlighted,
.react-datepicker__year-text--highlighted {
  background-color: #3dcc4a; /* Example highlighted date color */
  color: #fff; /* Example highlighted date text color */
}

/* CSS */
.selected {
  background-color: lightgreen !important; /* Change background color for selected dates */
}

.track-date {
  background-color: lightcoral !important; /* Change background color for track dates */
}
